@charset "UTF-8";

/*reset total do projeto*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
} 

/*configurações do:*/
html, body {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

/*configurações do:*/
main {
    position: relative;
    height: 100vh;
    background-color: black;
}

/*configuraçõe do:*/
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);

    width: 500px;
    height: 500px;
    background-color: blue;
}