@charset "UTF-8";

/*reset total do projeto*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
} 

/*configurações do:*/
html, body { 
    height: 100vh;
    width: 100vw;
    background-color:black;
}

/*configuração apenas para o body*/
body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover; /*cobrir a tela inteira*/
    background-attachment: fixed; /*sem rolagem*/
}

/*configurações do:*/
main {
    position: relative;
    height: 100vh;
}

/*configuraçõe do:*/
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background: url('../imagens/frame-iphone.png')no-repeat;
}

/*configuraçõe do:*/
iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

/*configuraçõe do:*/
section#redes_sociais {
    text-align: right;
}
/*configuraçõe do:*/
section#redes_sociais img {
    width: 50px; /* define a largura e automaticamente a autura*/
    margin: 8px; /*para separar eles*/
    border-radius: 50%; /*para arredondar*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;

}

/*configuraçõe do:*/
section#redes_sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.653);
    transition: transform .3s, border 1s;
}
